<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h3>
        </div>
      </div>
     <div class="contact" >
        <div style="float:left; width=30%;"><small>{{ site.tagline }}</small></div>
        <div style="float:right; width=50%;">
           <ul style="list-style:none;">
              <li style="float:left;padding:10px;"><a href="https://github.com/yijunge"><svg title="github" style="font-size:30px;" class="icon icon-github"><use xlink:href="#icon-github""></use></svg></a></li>
              <li style="float:left;padding:10px;"><a href="mailto:yijungehust@gmail.com" target="_blank" ><svg title="mail"  width="30" height="30" style="font-size:30px; class="icon icon-mail-envelope-closed"><use xlink:href="#icon-mail-envelope-closed"></use></svg></a></li>
           </ul>
        </div>
     </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script id="dsq-count-scr" src="//yijungepurdue.disqus.com/count.js" async></script> 
  </body>
</html>
