---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}
  {% if page.comments %}
  &bull <a href="http://yijungepurdue.com{{ page.url }}#disqus_thread"> 0 Comments </a>
  {% endif %}
  </span>
  {{ content }}
</div>


{% if page.comments %}
	<div id="disqus_thread"></div>
	<script>

	var disqus_config = function () {
	this.page.url = "http://yijungepurdue.com{{ page.url }}";
	this.page.identifier = "{{ page.id }}";
};

(function() { 
var d = document, s = d.createElement('script');
s.src = 'https://yijungepurdue.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
